@font-face {
  font-family: gitHubFont;
  src: url(./resource/font/collegiate/COLLEGIA.ttf);
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background: url(./resource/backgrounds/BlackwWood.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.col-sm-4 {
  color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: rgba(86, 180, 117, 0.85);
}

#gitHired {
  font-family: gitHubFont;
  text-align: center;
  font-size: 6em;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #da2846;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #da2846;
}

input:focus + .slider {
  box-shadow: 0 0 1px #da2846;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
